# Ignore all files in dump; these are files extracted from ASURA Resource files files
dump/*
# Ignore virtual environment
venv/*
__pycache__/
# Ignore Pycharm
.idea/*
# Ignore 3rd party software
depends/*